@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Стилизация общих тегов и классов */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 26px;
  background: #fcfcfc;
  color: #2d3440;
}

.button-red {
  color: #fcfcfc;
  background: #ff2f64;
}

.main-container {
  flex-grow: 1;
}

.centerer-container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 40px;
}

/* Стилизация шапки с навигацией */

.page-header {
  line-height: 20px;
}

.navigation-item {
  list-style-type: none;
}

.navigation-link {
  text-decoration: none;
  color: inherit;
}

.page-navigation {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation-list {
  display: flex;
  width: 470px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-user {
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-telephone-link {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.navigation-link-user {
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}

/* -----------------------------Стилизация главной страницы----------------------------- */

/* Стилизация слайдера */

.slider-item {
  list-style-type: none;
  display: none;
}

.slider-item-active {
  display: block;
}

.slider-pagination {
  padding: 0;
  list-style-type: none;
}

.slider-list {
  padding: 0;
}

.banner-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.banner-desc {
  font-size: 18px;
  line-height: 24px;
}

.main-social {
  padding: 0;
}

/* Стилизация секции промо */

.promo-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.promo-item {
  width: 334px;
  list-style-type: none;
  background-color: #ff7799;
  background-repeat: no-repeat;
  background-position: right;
  padding: 36px 200px 36px 36px;
  border-radius: 16px;
}

.promo-item:nth-child(1) {
  background-image: url("../images/backgrounds/promo-1.png");
}

.promo-item:nth-child(2) {
  background-image: url("../images/backgrounds/promo-2.png");
}

.head-slogan {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.promo-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* Стилизация секции с популярными вкусами */

.product-list {
  padding: 0;
}

.product-card {
  background-color: #fcfcfc;
}

.product-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.product-card-desc {
  line-height: 22px;
  text-align: center;
  color: #565c66;
}

.product-card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* Стилизация секции с информацией о производстве */

.wafer-block {
  padding: 24px;
  background-image: url("../images/backgrounds/about-back-waffle.jpg");
  border-radius: 16px;
}

.about {
  background-color: #fcfcfc;
  margin: 0 auto;
  padding: 56px 40px;
  border-radius: 16px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
}

.about-desc {
  width: 505px;
  color: #565c66;
}

.about-item {
  list-style-type: none;
  padding: 0;
}

.about-list {
  padding: 0;
}

/* Стилизация секции со статьей и подпиской */

.subscription-group {
  display: flex;
  justify-content: space-between;
}

.article-blog {
  width: 570px;
  background-image: url("../images/backgrounds/blog-back.jpg");
  background-repeat: no-repeat;
  background-color: #fcfcfc;
  border-radius: 16px;
  background-size: cover;
}

.slogan-link {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding-left: 32px;
  padding-right: 235px;
}

.blog-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
  margin: 0;
  padding-left: 32px;
  padding-top: 32px;
  margin-bottom: 12px;
}

.striped-block {
  width: 558px;
  padding: 6px;
  background-image: url("../images/backgrounds/subscription-back-candy.png");
  background-repeat: no-repeat;
  background-color: #fcfcfc;
  background-size: cover;
  border-radius: 16px;
}

.subscription-decs {
  color: #565c66;
}

.subscription-form {
  padding: 26px 26px 28px;
  background-color: #fcfcfc;
  border-radius: 16px;
}

/* Стилизация секции с информацией по заказу и доставке */

.delivery {
  display: flex;
  background-image: url("../images/backgrounds/delivery-back.jpg");
  background-repeat: no-repeat;
  background-color: #fcfcfc;
  padding-top: 64px;
  padding-right: 64px;
  padding-left: 100px;
  padding-bottom: 64px;
  border-radius: 16px;
}

.delivery-content {
  width: 371px;
  margin-right: 135px;
}

.delivery-form {
  background-color: #fcfcfc;
  width: 423px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 42px;
  border-radius: 8px;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.delivery-desc {
  color: #565c66;
}

.delivery-form-desc {
  color: #565c66;
}

.field {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
}

.field-decs {
  font-weight: 700;
  line-height: 20px;
}

/* Стилизация секции с контактами */

.contacts {
  background-image: url("../images/backgrounds/contacts-back.jpg");
  background-repeat: no-repeat;
  background-color: #fcfcfc;
  padding-top: 64px;
  padding-left: 64px;
  padding-bottom: 64px;
  background-size: cover;
  border-radius: 16px;
}

.contacts-phone {
  text-decoration: none;
  color: inherit;
}

.contacts-body {
  width: 263px;
  background-color: #fcfcfc;
  border-radius: 8px;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 42px;
}

.contacts-item {
  color: #565c66;
}

.contacts-definition {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}

/* Стилизация секции с социальными сетями */

.social-link {
  text-decoration: none;
  color: inherit;
}

.social-item {
  list-style-type: none;
}

/* Стилизация секции с дополнительной информацией */

.page-footer {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  padding: 0;
}

.page-footer-more-information-list {
  padding: 0;
}

.page-footer-more-information-item {
  font-size: 14px;
  line-height: 20px;
  list-style-type: none;
}

.page-footer-more-information-link {
  text-decoration: none;
  color: inherit;
}

.active {
  font-weight: 700;
}

/* Стилизация секции с информацией о разработчиках сайта */

.link-underline {
  text-decoration: none;
  color: inherit;
}

.dev-info-desc {
  font-size: 12px;
  line-height: 16px;
}

/* -----------------------------Стилизация страницы каталога----------------------------- */

/* Стилизация секци с навигацией */

.breadcrumbs {
  display: flex;
  padding: 0;
}

.breadcrumbs-item {
  list-style-type: none;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.catalog-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}
.product-card {
  list-style-type: none;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
}

.product-card-button {
  text-decoration: none;
  color: inherit;
}

/* Стилизация секции каталог */

.catalog-products {
  display: flex;
  flex-direction: column;
  color: inherit;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 270px;
}

.catalog-filter {
  width: 823px;
}

.catalog-filter-title {
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-list {
  list-style-type: none;
}

.control {
  font-size: 14px;
  line-height: 20px;
}

.catalog-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
}

/* Стилизация пагинации страницы каталога */

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 41px;
}
.show-more-button {
  padding: 12px 32px 12px 32px;
  border-radius: 26px;
  margin-left: 490px;
}

.pagination-catalog {
  padding-left: 0;
  margin: 0;
  display: flex;
}

.pagination-item {
  line-height: 20px;
  list-style-type: none;
}
.pagination-link {
  text-decoration: none;
  color: inherit;
}
