@font-face {
  font-family: "Inter";
  src: url(/fonts/inter-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/inter-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/inter-900.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Стилизация общих тегов и классов */

body {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-size: 100% auto;
  color: #565c66;
  background-color: #feafc3;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.button {
  font-family: inherit;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  border: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  background: #fcfcfc;
  color: #2d3440;
}
.button-red {
  font-size: 16px;
  color: #fcfcfc;
  background: #ff2f64;
}

/* -----------------------------Стилизация главной страницы----------------------------- */

/* Стилизация шапки с навигацией */

.page-header {
  line-height: 20px;
  color: #2d3440;
}
.page-header a {
  color: inherit;
  text-decoration: none;
}
.page-navigation li {
  list-style-type: none;
}
.tele-link {
  font-weight: 700;
}
.navigation-link-user {
  font-size: 14px;
}
.navigation-link {
  text-align: center;
}

/* Стилизация слайдера */

.slider {
  color: #2d3440;
}
.slider a {
  text-decoration: none;
  color: #2d3440;
}
.slider li {
  list-style-type: none;
}
.banner-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  text-align: left;
}
.banner-desc {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

/* Стилизация секции промо */

.promo {
  color: #2d3440;
}
.promo li {
  list-style-type: none;
}
.promo-item {
  background-color: #ff7799;
}
.promo-item:nth-child(1) {
  background-image: url("/images/backgrounds/promo-1.png");
  background-repeat: no-repeat;
  background-position: right;
}
.promo-item:nth-child(2) {
  background-image: url("/images/backgrounds/promo-2.png");
  background-repeat: no-repeat;
  background-position: right;
}
.head-slogan {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
}
.promo-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* Стилизация секции с популярными вкусами */

.popular-menu {
  color: #2d3440;
}
.popular-menu a {
  text-decoration: none;
  color: #2d3440;
}
.popular-menu li {
  list-style-type: none;
}
.product-card {
  background-color: #fcfcfc;
}
.product-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.product-card-desc {
  line-height: 22px;
  text-align: center;
  color: #565c66;
}
.product-card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* Стилизация секции с информацией о производстве */

.about-background {
  background-image: url("/images/backgrounds/about-back-waffle.jpg");
  background-repeat: no-repeat;
}
.about {
  background-color: #fcfcfc;
}
.about li {
  list-style-type: none;
}
/* Стилизация секции со статьей и подпиской */

.article-blog {
  background-image: url("/images/backgrounds/blog-back.jpg");
  background-repeat: no-repeat;
  background-color: #fcfcfc;
}
.article-blog a {
  text-decoration: none;
  color: #2d3440;
}
.blog-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.slogan-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.form-background {
  background-image: url("/images/backgrounds/subscription-back-candy.png");
  background-repeat: no-repeat;
  background-color: #fcfcfc;
}
.subscription-form {
  background-color: #fcfcfc;
}

/* Стилизация секции с информацией по заказу и доставке */

.delivery {
  background-image: url("/images/backgrounds/delivery-back.jpg");
  background-repeat: no-repeat;
  background-color: #fcfcfc;
}
.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}
.delivery-form {
  background-color: #fcfcfc;
}
.delivery-form-date {
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
}
.delivery-form-phone {
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
}
.delivery-form-address {
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
}
/* Стилизация секции с контактами */

.contacts {
  background-image: url("/images/backgrounds/contacts-back.jpg");
  background-repeat: no-repeat;
  background-color: #fcfcfc;
}
.contacts-list a {
  text-decoration: none;
  color: #2d3440;
}
.contacts-body {
  background-color: #fcfcfc;
}
.contacts-definition {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}
.contacts-small {
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}

/* Стилизация секции с социальными сетями */

.page-footer-social a {
  text-decoration: none;
  color: #2d3440;
}
.page-footer-social li {
  list-style-type: none;
}
/* Стилизация секции с дополнительной информацией */

.page-footer-more-information-item {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}
.page-footer-more-information-item a {
  text-decoration: none;
  color: #2d3440;
}
.page-footer-more-information-list {
  list-style-type: none;
}
.active {
  font-weight: 700;
}

/* Стилизация секции с информацией о разработчиках сайта */

.page-footer-logo a {
  text-decoration: none;
  color: #2d3440;
}
.logo-desc {
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
}

/* -----------------------------Стилизация страницы каталога----------------------------- */

/* Стилизация секци с навигацией */

.catalog-header {
  color: #2d3440;
}
.catalog-header a {
  text-decoration: none;
  color: #2d3440;
}
.catalog-header ol {
  list-style-type: none;
}
.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.catalog-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

/* Стилизация секции каталог */

.product-list a {
  text-decoration: none;
  color: #2d3440;
}
.product-list li {
  list-style-type: none;
}
.catalog-products {
  color: #2d3440;
}
.catalog-filter-title {
  font-size: 14px;
  line-height: 20px;
}
.catalog-filter-list {
  list-style-type: none;
}
.control {
  font-size: 14px;
  line-height: 20px;
}
.catalog-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
}
.pagination-item {
  line-height: 20px;
}
.pagination-catalog a {
  text-decoration: none;
  color: #2d3440;
}
.pagination-catalog li {
  list-style-type: none;
}
