@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Стилизация общих тегов и классов */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}

img {
  max-width: 100%;
  height: auto;
}

.centerer-container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 40px;
}

.head-slogan {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 55px;
}

.button {
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 26px;
  border: none;
  background-color: #fcfcfc;
  color: #2d3440;
  box-shadow: 0px 0px 0px 4px rgba(252, 252, 252, 0.4),
    0px 4px 12px 0px rgba(45, 52, 64, 0.1);
  cursor: pointer;
  transition: 0.4s;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0px 0px 0px 4px rgba(252, 252, 252, 1),
    0px 4px 15px rgba(133, 133, 133, 0.15);
}

.button:active {
  background-color: rgba(252, 252, 252, 1);
  box-shadow: 0px 0px 0px 2px hsla(218, 17%, 21%, 1),
    0 4px 12px 0px rgb(45 52 64 / 10%);
}

.button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: 0px 0px 0px 2px #2d3440, 0px 4px 12px 0px rgb(45 52 64 / 10%);
  outline: none;
}

.button-red {
  color: #fcfcfc;
  background-color: #ff2f64;
  box-shadow: 0px 0px 0px 4px rgba(255, 47, 100, 0.3),
    0px 4px 12px 0px rgba(45, 52, 64, 0.1);
}

.button-red:hover {
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0px 0px 0px 4px rgba(255, 47, 100, 1);
}

.button-red:active {
  background-color: rgba(254, 175, 195, 1);
  box-shadow: 0px 0px 0px 2px rgba(45, 52, 64, 1),
    0px 4px 12px 0px rgba(45, 52, 64, 0.1);
}

.button-red:focus-visible {
  background-color: #ff2f64;
  box-shadow: 0px 0px 0px 2px rgba(45, 52, 64, 1),
    0px 4px 12px 0px rgba(45, 52, 64, 0.1);
  outline: none;
}

.main-container {
  flex-grow: 1;
}

.field {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  padding: 14px 16px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
  outline: none;
  width: 100%;
}

.field:hover {
  border-color: #2d3440;
}

.field:focus-visible {
  outline: 2px solid #2d3440;
}

.field:disabled {
  border-color: #ea5454;
}

.field:disabled:hover {
  outline: 2px solid #ea5454;
}

.field::placeholder {
  color: #b9b9b9;
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стилизация шапки с навигацией */

.page-header {
  line-height: 20px;
}

.page-navigation {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 470px;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 16px;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 6px 14px;
  border-radius: 30px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
  outline: none;
  border: 2px solid transparent;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  transition: 0.4s;
}

.navigation-link:active {
  background-color: #fcfcfc;
}

.navigation-link:focus-visible {
  background-color: hsla(0, 0%, 99%, 0.5);
  border-color: currentColor;
}

.navigation-link-search {
  padding: 7px;
  position: relative;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  transition: 0.4s;
}

.navigation-user {
  margin-left: auto;
  justify-content: flex-end;
  gap: 16px;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 16px;
}

.navigation-telephone-link {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 7px 0;
  line-height: 20px;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  outline-offset: 2px;
}

.navigation-telephone-link:hover {
  opacity: 0.7;
  transition: 0.4s;
}

.navigation-telephone-link:focus-visible {
  outline: 2px solid;
}

.navigation-link-user {
  position: relative;
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: inherit;
  padding: 4px 14px;
  padding-left: 36px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  outline: none;
  border: 2px solid transparent;
}

.navigation-link-user:hover {
  background-color: rgba(252, 252, 252, 0.5);
  transition: 0.4s;
}

.navigation-link-user:active {
  background-color: #fcfcfc;
}

.navigation-link-user:focus-visible {
  background-color: hsla(0, 0%, 99%, 0.5);
  border-color: currentColor;
}

.navigation-link-user .navigation-icon {
  left: 16px;
  margin: auto 0;
}

.navigation-link-arrow {
  padding-right: 38px;
  background-image: url("../images/icons/arrow-small-down.svg");
  background-repeat: no-repeat;
  background-size: 10px 6px;
  background-position: center right 16px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #2d3440;
}

.navigation-item {
  position: relative;
}

/* Стилизация поповера с корзиной товаров */

.popover-cart {
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 2;
  box-sizing: border-box;
  width: 441px;
  padding: 48px;
  font-family: inherit;
  color: #2d3440;
  background-color: #ffffff;
  border-radius: 4px;
  min-height: 156px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  display: none;
}

/* .popover-cart-open {
  display: block;
} */

.popover-title {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.cart-items-list {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: grid;
  grid-template-columns: 46px 170fr 105fr 10px;
  grid-template-rows: 23px 23px;
  column-gap: 5px;
}

.cart-item:not(:last-child) {
  margin-bottom: 24px;
}

.card-item-product-image {
  grid-row: 1/-1;
  border-radius: 50%;
}

.cart-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-left: 16px;
}

.cart-item-price {
  margin: 0;
  grid-column: 3/-2;
  grid-row: 1/-1;
  margin: auto 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cart-item-quantity {
  margin: 0;
  grid-column: 2/-3;
  grid-row: 2/-1;
  font-weight: 400;
  color: #b9b9b9;
  font-size: 14px;
  line-height: 20px;
  margin-left: 16px;
}

.cart-item-button-product-delete {
  grid-column: 4/-1;
  grid-row: 1/-1;
  display: block;
  width: 10px;
  height: 10px;
  margin: auto 0;
  background-image: url("../images/icons/popover-cart-delete-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fcfcfc;
  border: none;
  cursor: pointer;
}

.cart-footer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
  margin-top: 64px;
}

.cart-footer:after {
  content: "";
  position: absolute;
  width: 345px;
  border-top: 1px solid #e7e7e7;
  bottom: 124px;
}

.cart-footer-total-price {
  justify-self: end;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

/* Стилизация поповера с логином */

.popover-auth {
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 2;
  box-sizing: border-box;
  width: 420px;
  padding: 48px 48px 52px 48px;
  font-family: inherit;
  color: #2d3440;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  display: none;
}

/* .popover-auth-open {
  display: block;
} */

.auth-field:not(:last-of-type) {
  margin-bottom: 16px;
}

.auth-field::placeholder {
  color: #2d3440;
}

.auth-footer {
  display: grid;
  grid-template-columns: 113px 1fr;
  grid-template-rows: 22px 22px;
  column-gap: 23px;
  margin-top: 32px;
}

.auth-footer-button {
  grid-column: 1/-2;
  grid-row: 1/-1;
}

.auth-footer-desc-password {
  grid-row: 1/-2;
  margin: 0;
  font-size: 14px;
  color: inherit;
  text-decoration: none;
}

.auth-footer-desc-password::after {
  content: "";
  position: absolute;
  width: 113px;
  border-top: 1px solid #2d3440;
  bottom: 76px;
  right: 123px;
}

.auth-footer-desc-reg {
  margin: 0;
  grid-row: 2/-1;
  font-size: 14px;
  color: inherit;
  text-decoration: none;
}

.auth-footer-desc-reg::after {
  content: "";
  position: absolute;
  width: 89px;
  border-top: 1px solid #2d3440;
  bottom: 54px;
  right: 147px;
}

/* Стилизация поповера с поиском */

.popover-search {
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 2;
  box-sizing: border-box;
  width: 356px;
  padding: 24px 16px;
  font-family: inherit;
  color: #2d3440;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  display: none;
}

/* .popover-search-open {
  display: block;
} */

.popover-search-reset {
  position: absolute;
  top: 41px;
  right: 30px;
  display: none;
  width: 16px;
  height: 16px;
  padding: 0;
  background-image: url("../images/icons/popover-search-reset-button.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.popover-search-field:not(:placeholder-shown) + .popover-search-reset {
  display: block;
}

/* Стилизация поповера с каталогом */

.popover-catalog {
  position: absolute;
  z-index: 2;
  top: 45px;
  box-sizing: border-box;
  width: 135px;
  padding-top: 6px;
  padding-bottom: 8px;
  font-family: inherit;
  color: #2d3440;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  display: none;
}

/* .popover-catalog-open {
  display: block;
} */

.popover-catalog-title {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 8px 16px;
  text-decoration: none;
  color: #2d3440;
  margin-bottom: 10px;
}

.popover-catalog-title:hover {
  background-color: #ffcbd8;
}

.popover-catalog-title:active {
  background-color: #ff7799;
}

.popover-catalog-title:current {
  background-color: #ff4a78;
}

.popover-catalog-title::after {
  content: "";
  position: absolute;
  width: 103px;
  border-top: 1px solid #b9b9b9;
  top: 47px;
  left: 16px;
}

.popover-catalog-item {
  display: block;
  margin: 0;
  font-size: 14px;
  text-decoration: none;
  color: #2d3440;
  padding: 6px 10px 6px 16px;
}

.popover-catalog-item:hover {
  background-color: #ffcbd8;
}

.popover-catalog-item:active {
  background-color: #ff7799;
}

.popover-catalog-item:current {
  background-color: #ff4a78;
}

/* Стилизация поповера с пустой карзиной */

.popover-cart-empty {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  width: 288px;
  padding: 48px 20px;
  font-family: inherit;
  color: #2d3440;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  display: none;
  text-align: center;
  top: 40px;
  right: 0px;
}

.popover-title-empty {
  margin: 0;
  line-height: 30px;
}

/* .popover-cart-empty-open {
  display: block;
} */

/* Стилизация модального окна  */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
}

.modal-contact-form {
  width: 442px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 37px;
  right: 37px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/icons/popover-cart-delete-button.svg.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: contain;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  line-height: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-form-textarea {
  min-height: 149px;
  resize: none;
}

.contact-form-button {
  align-self: flex-end;
  margin-top: 16px;
}

/* -----------------------------Стилизация главной страницы----------------------------- */

/* Стилизация слайдера */

.slider {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 241px;
  position: relative;
  display: grid;
  align-items: center;
  gap: 4px 57px;
  padding: 21px 0 0;
}

.slider-img {
  margin: 0 auto;
}

.slider-control {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: flex;
  width: 38px;
  height: 38px;
  color: #fcfcfc;
  background-color: hsla(0, 0%, 99%, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  transition: 0.3s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow,
    opacity;
  outline: none;
}

.slider-control::before {
  content: "";
  width: 16px;
  height: 16px;
  margin: auto;
  background-color: currentColor;
  -webkit-mask: url("../images/icons/arrow-slider.svg") no-repeat center/100%;
  mask: url("../images/icons/arrow-slider.svg") no-repeat center/100%;
}

.slider-control:hover {
  color: inherit;
  background-color: #fcfcfc;
  border-color: #fcfcfc;
}

.slider-control:active {
  background-color: hsla(0, 0%, 99%, 0.5);
  border-color: transparent;
}

.slider-control:focus-visible {
  color: inherit;
  background-color: hsla(0, 0%, 99%, 0.3);
  border-color: currentColor;
}

.slider-control-prev {
  right: 605px;
}

.slider-control-next {
  right: 280px;
  transform: scaleX(-1);
}

.slider-list {
  display: grid;
  grid-template-areas: "slide";
  margin: 0;
  padding: 0;
}

.slider-item {
  list-style-type: none;
  display: none;
  grid-template-columns: 1fr 327px;
  grid-area: slide;
  align-items: center;
  gap: 40px;
}

.slider-item-active {
  display: grid;
}

.slider-content-wrapper {
  padding: 37px 0 2rem 70px;
}

.banner-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 24px;
}

.banner-desc {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 48px;
}

.banner-button {
  display: inline-block;
  vertical-align: baseline;
}

.slider-tiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 41px;
  margin: 12px 0 0;
  padding: 0;
  list-style: none;
}

.slider-tile {
  width: 100px;
  height: 150px;
  background-color: transparent;
  background-size: contain;
  border: none;
  opacity: 0.4;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.3s ease-in-out;
}

.slider-tile-1 {
  background-image: url("../images/content/ice-cream-slider-2.png");
}

.slider-tile-2 {
  background-image: url("../images/content/ice-cream-slider-3.png");
}

.slider-tiles-item-hidden {
  display: none;
}

/* Стилизация секции пагинации слайдера */

.slider-pagination {
  display: grid;
  grid-template-columns: repeat(auto-fill, 12px);
  gap: 8px;
  align-self: end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
  background-color: hsla(0, 0%, 99%, 0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow,
    opacity;
  outline: none;
}

.slider-pagination-button:hover {
  border-color: hsla(0, 0%, 99%, 1);
}

.slider-pagination-button:active {
  background-color: hsla(0, 0%, 99%, 0.5);
  border-color: transparent;
}

.slider-pagination-button:focus-visible {
  border-color: #2d3440;
}

.slider-pagination-button-current {
  background-color: #fcfcfc;
}

/* Стилизация секции слайдера с социальными сетями */

.main-social {
  margin: 0;
  justify-content: end;
}

.social {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 24px);
  gap: 16px;
  list-style: none;
}

.social-link {
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: 0.4s;
}

.social-link:hover .social-icon {
  background-color: #2d3440;
  border-radius: 50%;
}

.sosial-link:focus-visible {
  box-shadow: 0 0 0 2px #2d3440;
}

.social-item {
  list-style-type: none;
}

/* Стилизация секции промо */

.promo {
  margin-bottom: 80px;
}

.promo-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.promo-item {
  width: 317px;
  list-style-type: none;
  background-color: #ff7799;
  background-repeat: no-repeat;
  background-position: right;
  padding: 36px 217px 36px 36px;
  border-radius: 16px;
}

.promo-item:nth-child(1) {
  background-image: url("../images/backgrounds/promo-1.png");
}

.promo-item:nth-child(2) {
  background-image: url("../images/backgrounds/promo-2.png");
}

.promo-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 28px;
}

.promo-desc {
  margin-top: 0;
  margin-bottom: 28px;
}

.promo-button {
  display: inline-block;
  vertical-align: baseline;
  min-width: 176px;
}

/* Стилизация секции с популярными вкусами */

.popular-menu {
  margin-bottom: 80px;
}

/* Стилизация секции с информацией о производстве */

.wafer-block {
  padding: 24px;
  background-image: url("../images/backgrounds/about-back-waffle.jpg");
  border-radius: 16px;
  margin-bottom: 80px;
}

.about {
  background-color: #fcfcfc;
  margin: 0 auto;
  padding: 56px 40px;
  border-radius: 16px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-between;
  row-gap: 40px;
  padding: 0;
}

.about-item {
  list-style-type: none;
  padding: 0;
}

.about-desc {
  width: 441px;
  min-height: 66px;
  color: #565c66;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 48px 48px;
  padding-left: 64px;
}

.about-desc-icon-ice {
  background-image: url("../images/icons/about-icon-1.svg");
}

.about-desc-icon-cow {
  background-image: url("../images/icons/about-icon-2.svg");
}

.about-desc-icon-leaf {
  background-image: url("../images/icons/about-icon-3.svg");
}

.about-desc-icon-temp {
  background-image: url("../images/icons/about-icon-4.svg");
}

/* Стилизация секции со статьей и подпиской */

.subscription-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  gap: 30px;
}

.article-blog {
  width: 570px;
  box-sizing: border-box;
  background-image: url("../images/backgrounds/blog-back.jpg");
  background-repeat: no-repeat;
  background-color: #fcfcfc;
  border-radius: 16px;
  background-size: cover;
  background-position: right top;
  padding-top: 32px;
  padding-right: 235px;
  padding-bottom: 32px;
  padding-left: 32px;
}

.blog-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
  margin: 0;
  margin-bottom: 12px;
}

.slogan-link {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.striped-block {
  width: 570px;
  box-sizing: border-box;
  padding: 6px;
  background-image: url("../images/backgrounds/subscription-back-candy.png");
  background-color: #fcfcfc;
  background-size: cover;
  border-radius: 16px;
}

.subscription-form {
  box-sizing: border-box;
  padding: 26px;
  background-color: #fcfcfc;
  border-radius: 16px;
  min-height: 100%;
}

.subscription-desc {
  color: #565c66;
  margin: 0;
  margin-bottom: 44px;
}

.subscription-form-wrapper {
  display: flex;
  justify-content: space-between;
}

.subscription-field {
  width: 332px;
}

/* Стилизация секции с информацией по заказу и доставке */

.delivery {
  display: flex;
  align-items: flex-start;
  background-image: url("../images/backgrounds/delivery-back.jpg");
  background-color: #fcfcfc;
  background-size: cover;
  padding: 64px;
  padding-left: 100px;
  margin-bottom: 80px;
  border-radius: 16px;
}

.delivery-content {
  width: 375px;
  min-height: 210px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 24px;
}

.delivery-desc {
  color: #565c66;
  margin: 0;
}

.delivery-form {
  display: grid;
  grid-template-columns: 119px 152px 119px;
  gap: 20px 18px;
  background-color: #fcfcfc;
  width: 423px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 42px;
  border-radius: 8px;
}

.delivery-form-desc {
  color: #565c66;
  margin: 0;
  margin-bottom: 12px;
  grid-column: 1 / -1;
}

.delivery-form-date {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.delivery-form-phone {
  margin: 0;
  grid-column: 2 / -1;
  display: flex;
  flex-direction: column;
}

.delivery-form-address {
  margin: 0;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
}

.field-desc {
  font-weight: 700;
  line-height: 20px;
  margin-top: auto;
  margin-bottom: 8px;
  align-self: flex-start;
}

.delivery-form-button {
  grid-column: 2 / -2;
  margin-top: 12px;
}

/* Стилизация тултипа */

.tooltip {
  position: relative;
  margin-top: 3px;
  width: 14px;
  height: 14px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.tooltip-icon {
  color: #000000;
  display: block;
}

.tooltip-text {
  width: 162px;
  color: #565c66;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  text-transform: none;
  padding: 10px 8px;
  position: absolute;
  left: calc(100% + 11px);
  top: -12px;
  border: 1px solid #b9b9b9;
  background: #fcfcfc;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 1px;
  visibility: none;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  pointer-events: none;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  background: inherit;
  border: inherit;
  border-top-color: transparent;
  border-right-color: transparent;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  top: 15px;
  left: -6px;
}

.tooltip:hover .tooltip-text,
.tooltip:focus-within .tooltip-text {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

/* Стилизация секции с контактами */

.contacts {
  background-image: url("../images/backgrounds/contacts-back.jpg");
  background-repeat: no-repeat;
  background-color: #fcfcfc;
  padding-top: 64px;
  padding-left: 64px;
  padding-bottom: 64px;
  background-size: cover;
  border-radius: 16px;
}

.contacts-body {
  width: 263px;
  background-color: #fcfcfc;
  border-radius: 8px;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 42px;
}

.contacts-list {
  margin: 0;
}

.contacts-item {
  color: #565c66;
  margin-bottom: 12px;
}

.contacts-definition {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
}

.contacts-phone {
  text-decoration: none;
  color: inherit;
}

.contacts-small {
  display: block;
  margin-top: -2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}

.contacts-button {
  display: block;
  margin-top: 34px;
}

/* Стилизация секции с социальными сетями */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 48px;
  padding-bottom: 48px;
  min-height: 57px;
  position: relative;
}

.page-footer::after {
  content: "";
  position: absolute;
  width: 1170px;
  border-top: 1px solid rgba(252, 252, 252, 0.3);
  top: 0;
}

.footer-social {
  width: 104px;
}

/* Стилизация секции с дополнительной информацией */

.page-footer-more-information {
  align-self: flex-start;
}

.page-footer-more-information-list {
  width: 356px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px 24px;
  margin: 0;
  padding: 0;
}

.page-footer-more-information-item {
  font-size: 14px;
  line-height: 20px;
  list-style-type: none;
}

.page-footer-more-information-link {
  text-decoration: none;
  color: inherit;
}

.active {
  font-weight: 700;
  position: relative;
}

.active::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/heart-icon.svg");
  background-repeat: no-repeat;
  margin-left: -24px;
  margin-top: 2px;
}

/* Стилизация секции с информацией о разработчиках сайта */

.dev-info {
  width: 193px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-img-html {
  margin-bottom: 9px;
}

.dev-info-desc {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.link-underline {
  text-decoration: none;
  color: inherit;
}

.link-underline::before {
  content: "";
  position: absolute;
  width: 82px;
  border-top: 1px solid rgba(45, 52, 64, 0.5);
  bottom: 48px;
}

/* -----------------------------Стилизация страницы каталога----------------------------- */

/* Стилизация секци с хлебными крошками */

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs-item {
  list-style-type: none;
  background-image: url("../images/icons/double-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 10.5px;
  padding-right: 28px;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-item:last-child {
  background: none;
}

.breadcrumbs-link-current-underline::before {
  content: "";
  position: absolute;
  width: 164px;
  border-top: 1px solid #2d3440;
  top: 129px;
}

/* Стилизация секци с фильтрами для каталога */

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 840px;
  margin-bottom: 15px;
  gap: 16px 24px;
}

.catalog-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-size: 14px;
  line-height: 20px;
  margin: 0px 0px 8px 16px;
}

.catalog-filter-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 8px 24px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  gap: 16px;
}

.catalog-filter-list-checkboxes {
  padding: 10px 24px;
}

.control {
  font-size: 14px;
  line-height: 20px;
  position: relative;
  display: block;
  padding-left: 24px;
}

.control-mark {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0px;
  top: 2px;
  cursor: pointer;
  background-color: currentColor;
  -webkit-mask: url("../images/icons/filter-checkbox-empty.svg") no-repeat
    center/100%;
  mask: url("../images/icons/filter-checkbox-empty.svg") no-repeat center/100%;
  transition: color 0.3s;
}

.control-input:checked + .control-mark {
  -webkit-mask: url("../images/icons/filter-checkbox-checked.svg") no-repeat
    center/100%;
  mask: url("../images/icons/filter-checkbox-checked.svg") no-repeat center/100%;
}

.control-input[type="radio"] + .control-mark {
  -webkit-mask: url("../images/icons/filter-radio-circle.svg") no-repeat
    center/100%;
  mask: url("../images/icons/filter-radio-circle.svg") no-repeat center/100%;
}

.control-input[type="radio"]:checked + .control-mark {
  -webkit-mask: url("../images/icons/filter-radio-circle-checked.svg") no-repeat
    center/100%;
  mask: url("../images/icons/filter-radio-circle-checked.svg") no-repeat
    center/100%;
}

.control:hover .control-mark,
.control-input:focus-visible + .control-mark {
  color: #fcfcfc;
}

.select-control {
  width: 100%;
  padding: 6px 14px;
  padding-right: 63px;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/icons/arrow-small-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  transition: background-color 0.3s;
  outline: none;
}

.select-control:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.select-control:focus-visible {
  border-color: #fcfcfc;
}

.catalog-button {
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 52px;
  background-color: hsla(0, 0%, 99%, 0.3);
  box-shadow: 0 0 0 2px hsla(0, 0%, 99%, 1), 0px 4px 12px rgba(45, 52, 64, 0.1);
  transition: 0.4s;
  border: none;
  margin-bottom: 2px;
  margin-left: -8px;
}

.catalog-button:hover {
  background-color: hsla(0, 0%, 99%, 1);
  box-shadow: 0 0 0 2px hsla(0, 0%, 99%, 0.3),
    0px 4px 12px rgba(45, 52, 64, 0.1);
}

.catalog-button:active {
  background-color: hsla(0, 0%, 99%, 0.5);
  box-shadow: none;
}

.catalog-button:focus-visible {
  background-color: hsla(0, 0%, 99%, 0.3);
  box-shadow: 0 0 0 2px hsla(218, 17%, 21%, 1);
  outline: none;
}

/* Стилизация секци с ползунком для каталога */

.range {
  padding: 18px 16px 16px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range-scale {
  position: relative;
  height: 2px;
  width: 164px;

  background-color: rgba(86, 92, 102, 0.3);
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565c66;
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 6px solid #2d3440;
  background: #fcfcfc;
  cursor: pointer;
  padding: 0;
  transition: 0.3s;
  outline: none;
  top: -7px;
  left: -16px;
}

.range-toggle:hover {
  background-color: #2d3440;
  border: 6px solid #fcfcfc;
}

.range-toggle:active {
  background-color: #2d3440;
  border: 6px solid #2d3440;
}

.range-toggle:focus-visible {
  background-color: #2d3440;
  border: 6px solid #fcfcfc;
  outline: 2px solid #2d3440;
}

.range-input {
  max-width: 25px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
  padding: 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Стилизация каталога с карточками товаров */

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 91px;
  column-gap: 30px;
  margin: 0;
  padding: 0;
  padding-top: 80px;
}

.product-card-slogan {
  margin-bottom: 27px;
}

.product-card {
  width: 190px;
  display: grid;
  grid-template-columns: 1fr 32px;
  grid-template-rows: min-content 1fr min-content;
  list-style-type: none;
  padding: 28px 40px;
  border-radius: 8px;
  column-gap: 5px;
  background-color: #fcfcfc;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
  grid-column: 1 / -1;
  text-align: center;
}

.product-card-image {
  object-fit: contain;
  margin-top: -80px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.product-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.product-card-desc {
  margin: 0;
  grid-column: 1 / -1;
  margin-bottom: 16px;
  line-height: 22px;
  text-align: center;
  color: #565c66;
}

.product-card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: auto 0;
}

.product-card-button {
  position: relative;
  text-decoration: none;
  color: inherit;
  justify-self: end;
  background-color: #ff2f64;
  display: block;
  width: 32px;
  height: 32px;
  padding: 8px 11px;
  box-sizing: border-box;
  border: 2px solid #ff2f64;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow,
    opacity;
}

.product-card-button:hover {
  background-color: hsla(0, 0%, 99%, 0.3);
}

.product-card-button:active {
  color: inherit;
  background-color: #ffcbd8;
}

.catalog-shop-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #fcfcfc;
  transition: 0.3s ease-in-out;
}

.product-card-button:hover .catalog-shop-icon {
  fill: #2d3440;
}

/* Стилизация пагинации каталога */

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 57px;
  padding-bottom: 81px;
}

.pagination::before {
  content: "";
  width: 168px;
}

.pagination-catalog {
  width: 168px;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.pagination-item {
  line-height: 20px;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  padding: 2px 7px;
  height: 24px;
  min-width: 24px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}

.pagination-current {
  background-color: #fcfcfc;
  border-radius: 50px;
}

.pagination-prev {
  background-image: url("../images/icons/arrow-left.svg");
}

.pagination-next {
  background-image: url("../images/icons/arrow-right.svg");
}

.pagination-disabled {
  opacity: 0.3;
}

.catalog-show-more-button {
  min-width: 179px;
}
